*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}
/***********Menu*************/
.header{
    width: 100%;  
    display: flex;
    position: fixed;
    min-height: 70px;
    background-color: #EA0029;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
}
.volver{
    color: #ffffff;
    font-size: 30px;
}
.simbolo{
    color: #ffffff;
}
/**************************Administración de Empresas*************************************/
.main-admin h1{
    
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;

}

.container-admin{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../../../img/Portafolio/adminempresas.jpg);
}
/*****************Finanzas y Comercio Exterior**************************/
.main-finanzas h1{
    
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;

}

.container-finanzas{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../../../img/Portafolio/finanzas.jpg);
}
/*******************************************Software***********************************/
.main-software h1{
    
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;

}

.container-software{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../../../img/Portafolio/software.jpg);
}
/*******************************************Marketing y Logistica************************************************/
.main-marketing h1{
    
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;

}

.container-marketing{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../../../img/Portafolio/marketing.jpg);
}
/******************************************************Negocios Internacionales************************************/
.main-negocios h1{
    
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;

}

.container-negocios{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../../../img/Portafolio/negocios\ internacionales.jpg);
}
/********************************************************Contabilidad***************************************************/
.main-contabilidad h1{
    
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;

}

.container-contabilidad{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../../../img/Portafolio/adminempresas.jpg);
}
/******************************************************FOOTER********************************************/
.container-Footer{
    color: #EEEEEE;
    background-color: #0e1f87;
    display: flex;
    align-items: flex-start;
    font-family: "Inter", "san-serif";
}

.container1-logo-footer{
    margin: 1%;
    height: 180px;
}

.container1-logo-footer img{
    width: 100px;
}

.content-Footer{
    margin: 1%;
    width: 500px;
    height: 200px;
    line-height: 1.15;
}

.título-pre{
    color: #EEEEEE;
    padding: 5px;
}

.contáctosTexto{
    line-height: 1.15;/*PEDIR AYUDA*/
    height: 150px;
}

.content-Footer > .contáctos-Texto{
    align-items: center;
}

.copyright-Footer{
    background-color: #EA0029;
}

.copyright-Footer > .hr-Footer{
    margin: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.copyright-Footer>p{
    padding: 10px;
    height: 50px;
    margin-top: auto;
    justify-content: center;
    font-family: "Inter", "san-serif";
    
}
.copy-footer{
    color: #EEEEEE;
    text-align: center;
}