/**********************************PALETA DE COLORES*********************************
#EEEEEE #EA0029 #0E1F87 
/**********************************HEADER******************************************/

header, nav{
    padding: 5px;
}

header{
    background-color: #EEEEEE;
    border: 3px;
    height: 180px;
}

.container-nav{
    display: flex;
    display: inline-block;
    position: absolute;
    height: 160px;
    margin: 1px;
    width: 700px;
    height: 160px;
    left: 550px;
}

nav{
    display: flex;   
    background-color: #EEEEEE;
    width: 700px;
    height: 160px;
    justify-content: right;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    color: black;
}

.container1-logo-Header{
    display: flex;
    display: inline-block;
    margin: 1%;
    height: 170px;
}

.container1-logo-Header img{
    width: 170px;
}

/**********************************FOOTER******************************************/

.container-Footer{
    color: #EEEEEE;
    background-color: #0e1f87;
    display: flex;
    align-items: flex-start;
    font-family: "Inter", "san-serif"
}

.container1-logo-footer{
    margin: 1%;
    height: 180px;
}

.container1-logo-footer img{
    width: 100px;
}

.content-Footer{
    margin: 1%;
    width: 500px;
    height: 200px;
    line-height: 1.15;
}

.título-pre{
    color: #EEEEEE;
    padding: 5px;
}

.contáctos-Texto{
    line-height: 1.15;/*PEDIR AYUDA*/
    height: 150px;
}

.content-Footer > .contáctos-Texto{
    align-items: center;
}

.copyright-Footer > .hr-Footer{
    margin: 10%;
    margin-top: auto;
    margin-bottom: auto;
    background: #0E1F87;
}

.copyright-Footer>p{
    padding: 10px;
    height: 50px;
    background-color: #0E1F87;
    margin-top: auto;
    justify-content: center;
    font-family: "Inter", "san-serif"
}





/**********************************HOME******************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}









/**********************************PORTAFOLIO******************************************/
.slider{
    position: relative;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.sliders{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}
.sliders img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.slider-nav a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 100%;
}
.containerCard{
    width: 85vw;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(31, 31, 31, .1);
    display: flex;
    margin: auto;
    margin-top: 100px;
}
.imageContainer{
    width: 40%;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.containerText{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.tituloConsultoria{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.textoConsultoria{
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}


/**********************************EXPERIENCIAS******************************************/

.body3{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.imgagen-exp{
    height: 700px;
}

.Experiencia-usuario{
    padding: 20px;
}

.iframe-experiencia{
    padding-top: 80px;
    padding-bottom: 80px;
    align-self: center;   
}

.caja1 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja2 {
background-color:#fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja3 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja4 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja5 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}




/**********************************PRODUCTOS******************************************/

.titulo{
font-size: 30px;
text-align: center;
/*background: #a1a8d6;*/
}
.container-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.produc{
    width: calc(30% - 20px);
    background-color: #ffffff;
    padding: 20px;
    margin: 50px;
    background: #0E1F87;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
h2{
    color: #fc0000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}






/**********************************ALIADOS******************************************/

.titulo-empresas{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Galeria */

.gallery{
    background: #f2f2f2;
}

.gallery-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 240px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #ea002b65;
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.hover-gallery img{
    width: 25%;
}

.hover-gallery p{
    color: #fff;
    text-align:center;
}

.imagen-port:hover .hover-gallery{
    transform: scale(1);
}

/**********************************EQUIPO******************************************/