*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}
/**********************************PALETA DE COLORES*********************************/
#EEEEEE #EA0029 #0E1F87 

/*****************************************HEADER******************************************/
.header{
    background-color: #ffffff;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;    
    z-index: 2;
}
header .container {
    width: 100;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:end;
    z-index: 2;
}
.header .logo {
    color: #ffeeee;
    text-align: center;
    padding: 0.5%;
    flex-grow: 1;
}   
.logo img {
     width: 150px;
    margin: 0 auto;
}   
.header .menu {
    text-align:right; 
    padding: 0,8;
    padding-right: 10%;
    flex-grow: 8;
}
.items>li{
    display:inline-block;
    padding: 1.5% 2%;
    font-size: 18px;
    position:static;
}    
.items>li a {
    color: black;
    text-decoration: none;   
} 

/*******************HOME**********************/
/***imagen**/
.main h1{
    text-align: left;
    color: #ffffff;
    width: 50%;
    padding: 15%;
    padding-left: 3%;
    font-size: 55px;
    font-weight: 600;
    margin-top: 1%;
}
.container_t{
    width: 100%;
    background-size: 100%;
    background-position: center;
    padding: 0,5%;
    overflow-y: scroll;
    background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../img/img1.jpg);
}

/***quien somos ****/
.fabrica{
    display: inline-block;
    text-align: center;
    padding: 3%;
}
.fabrica p {
    width: 55%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    color: #000000;
}
.fabrica H2 {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
}
.hr{
    width: 50%;
    display: inline-block;
    color: #0e1f87;
}

/***** equipo****/
.equipo {
    display:block;
    text-align: center;
    padding: 3%;
}
.equipo H2 {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding-bottom: 2%;
} 
.Nuestro{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-bottom: 5%;
}
.Nuestro .Estudiantes {
    width: 22%;
    margin-left: 8%;
    margin-bottom: 5px;
}
.Nuestro .Estudiantes img {
    width: 50%;
    padding: 3%;
    margin-left: 20%;
}
.Nuestro .Estudiantes p {
    display: flexbox;
    width: 90%;
    padding: 8%, 0%;
    background-color: #0e1f87;
    color: #ffeeee;
    margin-right: 0%;   
    text-decoration: none;
    text-align: center;
}
/**********************************PORTAFOLIO******************************************/
.containerSliders{
    display: flex;
    min-height: 20vh;
}
.container-slider{
   width: 85%;
   margin: auto;
   margin-top: 50px;
   overflow: hidden;
   box-shadow: 0 0 0 5px #EA0029, 0 10px 50px;
   position: relative;
}
.slider{
    display: flex;
    width: 100%;
    height: 400px;
    margin-left: -100%;
}
.slider_section{
     display: flex;
     min-height: 100vh;
     width: 100%;
}
.slider_img{
    display: block;
    width: 3578.5px;
    height: 400px;
    object-fit: cover;
}
.btn-slider{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,  255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.btn-slider:hover{
background: #ffffff;
}
.btn-right{
   right: 10px;
}
.btn-left{
   left: 10px;
}

.containerCard{
    width: 85vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 10px #494747;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.imageContainer{
    width: 40%;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.containerText{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.tituloConsultoria{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.textoConsultoria{
    color: #000000;
    font-size: 18px;
    text-align: justify;
    margin-top: 50px;
}
.adminPage{
    color: #0E1F87;
    text-decoration: underline;
}

/**********************************EXPERIENCIAS******************************************/
.caja-experiencia {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.portada-experiencia .img-experiencia{
    width: 100%;
    height: 600px;
  
} 
.titulo-experiencia {
    margin: auto;
    display: table;   
} 
.titulo-experiencia .frase-experiencia{
    font-size: 50px;
    float: left;
    position: relative;
    font-size: 2.5em;
    box-shadow: 10px 10px 20px 0 #111;  
}
.subtitulo-experiencia{
    color: #111;
}

.parrafo-experiencia{
    color: #111;
}
.animacion-experiencia{
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 1px solid #111;
    animation: maquina 9s infinite alternate steps(60);
}
@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
} 
.texto-experiencia { 
    flex: 0.4;
    text-align: center;
    margin: 70px;
    padding: 10px;
    height: 200px;
    box-shadow: 10px 10px 20px 0 #111;
    overflow: scroll;  
}  
.video-experiencia {  
    text-align: center;
    padding: 10px;
    margin: 70px;  
}

/**********************************PRODUCTOS******************************************/
.titulo{
    font-size: 30px;
    text-align: center;
}
.container-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.produc{
    width: calc(30% - 20px);
    background-color: #ffffff;
    padding: 20px;
    margin: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
h2{
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #5c5858;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/**********************************ALIADOS******************************************/
.titulo-empresas{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/**Galeria**/
.gallery{
    background: #f2f2f2;
}
.gallery-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 240px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #ea002b65;
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.hover-gallery img{
    width: 25%;
}
.hover-gallery p{
    color: #fff;
    text-align:center;
}
.imagen-port:hover .hover-gallery{
    transform: scale(1);
}
/***************************************************footer**************************************/
.container-Footer{
    color: #EEEEEE;
    background-color: #0e1f87;
    display: flex;
    align-items: flex-start;
    font-family: "Inter", "san-serif";
}
.container1-logo-footer{
    margin: 1%;
    height: 180px;
}
    
.container1-logo-footer img{
    width: 100px;
}
.content-Footer{
    margin: 1%;
    width: 500px;
    height: 200px;
    line-height: 1.15;
}
.título-pre{
    color: #EEEEEE;
    padding: 5px;
}
.contáctosTexto{
    height: 150px;
}
.content-Footer > .contáctos-Texto{
    align-items: center;
}
.copyright-Footer{
    background-color: #EA0029;
}
.copyright-Footer > .hr-Footer{
    margin: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
.copyright-Footer>p{
    padding: 10px;
    height: 50px;
    margin-top: auto;
    justify-content: center;
    font-family: "Inter", "san-serif"
}
.copy-footer{
    color: #EEEEEE;
}

