/**********************************PALETA DE COLORES*********************************
#EEEEEE #EA0029 #0E1F87 
/**********************************HEADER******************************************/

/* header, nav{
    padding: 5px;
}

header{
    background-color: #EEEEEE;
    border: 3px;
    height: 180px;
} 

.container-nav{
    display: flex;
    display: inline-block;
    position: absolute;
    height: 160px;
    margin: 1px;
    width: 700px;
    height: 160px;
    left: 550px;
}

nav{
    display: flex;   
    background-color: #EEEEEE;
    width: 700px;
    height: 160px;
    justify-content: right;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    color: black;
}

.container1-logo-Header{
    display: flex;
    display: inline-block;
    margin: 1%;
    height: 170px;
}

.container1-logo-Header img{
    width: 170px;
}
 */
/**********************************FOOTER******************************************/

.container-Footer{
    color: #EEEEEE;
    background-color: #0e1f87;
    display: flex;
    align-items: flex-start;
    font-family: "Inter", "san-serif"
}

.container1-logo-footer{
    margin: 1%;
    height: 180px;
}

.container1-logo-footer img{
    width: 100px;
}

.content-Footer{
    margin: 1%;
    width: 500px;
    height: 200px;
    line-height: 1.15;
}

.título-pre{
    color: #EEEEEE;
    padding: 5px;
}

.contáctosTexto{
    line-height: 1.15;/*PEDIR AYUDA*/
    height: 150px;
}

.content-Footer > .contáctos-Texto{
    align-items: center;
}

.copyright-Footer{
    background-color: #0E1F87;
}

.copyright-Footer > .hr-Footer{
    margin: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.copyright-Footer>p{
    padding: 10px;
    height: 50px;
    margin-top: auto;
    justify-content: center;
    font-family: "Inter", "san-serif"
}





/**********************************HOME******************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}









/**********************************PORTAFOLIO******************************************/
.slider{
    position: relative;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.sliders{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
    
}
.sliders img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.slider-nav a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 100%;
}
.containerCard{
    width: 85vw;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(31, 31, 31, .1);
    display: flex;
    margin: auto;
    margin-top: 100px;
}
.imageContainer{
    width: 40%;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.containerText{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.tituloConsultoria{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.textoConsultoria{
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}


/**********************************EXPERIENCIAS******************************************/

.body3{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.imgagen-exp{
    height: 700px;
}

.Experiencia-usuario{
    padding: 20px;
}

.iframe-experiencia{
    padding-top: 80px;
    padding-bottom: 80px;
    align-self: center;   
}

.caja1 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja2 {
background-color:#fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja3 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja4 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}

.caja5 {
background-color: #fff;
border: 3px solid black;
width: 300px;
height: 300px;
text-align: center;
}




/**********************************PRODUCTOS******************************************/

.titulo{
font-size: 30px;
text-align: center;
/*background: #a1a8d6;*/
}
.container-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.produc{
    width: calc(30% - 20px);
    background-color: #ffffff;
    padding: 20px;
    margin: 50px;
    background: #0E1F87;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
h2{
    color: #fc0000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}






/**********************************ALIADOS******************************************/

.titulo-empresas{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Galeria */

.gallery{
    background: #f2f2f2;
}

.gallery-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 240px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #ea002b65;
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.hover-gallery img{
    width: 25%;
}

.hover-gallery p{
    color: #fff;
    text-align:center;
}

.imagen-port:hover .hover-gallery{
    transform: scale(1);
}

/**********************************EQUIPO******************************************/

/******************header**************/

.header{
    background-color: #ffffff;
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;    
        z-index: 2;
        
    }
    
    header .container {
        width: 100;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items:end;
        z-index: 2;
    }
    
    .header .logo {
        color: #ffeeee;
        text-align: center;
        padding: 0.5%;
        flex-grow: 1;
    }
    
    .logo img {
        width: 150px;
        margin: 0 auto;
    }
    
    .header .menu {
        text-align:right; 
        padding: 0,8;
        padding-right: 10%;
        flex-grow: 8;
    }
    
    .items>li {
        display:inline-block;
        padding: 1.5% 2%;
        font-size: 18px;
        position:static;
        
        
    }
    
    .items>li a {
        color: black;
        text-decoration: none;
    }
    
    /*******************Fin header**********************/
    
    /*******************Main**********************/
    /***imagen**/
    .main h1{
    
        text-align: left;
        color: #ffffff;
        width: 50%;
        padding: 15%;
        padding-left: 3%;
        font-size: 55px;
        font-weight: 600;
        margin-top: 1%;
    
    }
    
    .container_t{
        width: 100%;
        background-size: 100%;
        background-position: center;
        padding: 0,5%;
        overflow-y: scroll;
        background-image: linear-gradient(50deg,#0e1e87ab 10%, #faf6f700), url(../img/img1.jpg);
    }
    /***imagen**/
    
    /***quien somos ****/
    
    .fabrica{
        display: inline-block;
        text-align: center;
        padding: 3%;
    
    }
    
    .fabrica p {
        width: 55%;
        height: auto;
        display: inline-block;
        text-align: center;
        padding: 25px;
        font-size: 20px;
        color: #000000;
    }
    
    .fabrica H2 {
        margin-top: 1%;
        text-align: center;
        font-size: 30px;
    }
    
    .hr{
        width: 50%;
        display: inline-block;
        color: #0e1f87;
    }
    
    /***quien somos ****/
    /***** equipo****/
    
    .equipo {
        display:block;
        text-align: center;
        padding: 3%;
    }
    
    .equipo H2 {
        margin-top: 1%;
        text-align: center;
        font-size: 30px;
        display: inline-block;
        padding-bottom: 2%;
    } 
    
    .Nuestro{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 8%;
        margin-bottom: 5%;
    }
    
    
    
    .Nuestro .Estudiantes {
        width: 22%;
        margin-left: 8%;
        margin-bottom: 5px;
        
        
    }
     .Nuestro .Estudiantes img {
        width: 50%;
        padding: 3%;
        margin-left: 20%;
     }
    
    .Nuestro .Estudiantes p {
        display:flexbox;
        width: 90%;
        padding: 8%, 0%;
        background-color: #0e1f87;
        color: #ffeeee;
        margin-right: 0%;   
        text-decoration: none;
        text-align: center;
    }
    
    /*************footer******/
    
    
    .container-Footer{
        color: #EEEEEE;
        background-color: #0e1f87;
        display: flex;
        align-items: flex-start;
        font-family: "Inter", "san-serif";
    }
    
    .container1-logo-footer{
        margin: 1%;
        height: 180px;
    }
    
    .container1-logo-footer img{
        width: 100px;
    }
    
    .content-Footer{
        margin: 1%;
        width: 500px;
        height: 200px;
        line-height: 1.15;
    }
    
    .título-pre{
        color: #EEEEEE;
        padding: 5px;
    }
    
    .contáctosTexto{
        line-height: 1.15;/*PEDIR AYUDA*/
        height: 150px;
    }
    
    .content-Footer > .contáctos-Texto{
        align-items: center;
    }
    
    .copyright-Footer{
        background-color: #0E1F87;
    }
    
    .copyright-Footer > .hr-Footer{
        margin: 10%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .copyright-Footer>p{
        padding: 10px;
        height: 50px;
        margin-top: auto;
        justify-content: center;
        font-family: "Inter", "san-serif"
    }